$color-primary: hsl(0, 0%, 10%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: hsl(0, 0%, 30%);
$color-border: hsl(0, 0%, 85%);
$color-box-background: mix($color-primary, white, 4%);
$border-radius: 4px;
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

body {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  max-width: 63em;

  @media (min-width: 820px) {
    font-size: 1.2rem;
  }
}

// 文件链接栏的样式
#sidebar {
  width: 20%;
  min-width: 200px;
  padding: 1em;
  border-right: 1px solid #ccc;
  position: fixed;
  top: 0;
  right: 1%;
  bottom: 1%;
  height: 90%;
  overflow-y: auto;
  background-color: #f0f0f0; /* 更改背景颜色以增加亮度 */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 10px; /* 设置目录栏的边框半径为10px，使其呈现更大的圆角 */
  display: none;            //一开始隐藏链接栏

}


// 控制侧边栏的按钮
.toggle-sidebar-button {
  position: fixed;          /* 将按钮固定在视口中的一个位置，即使页面滚动也不会改变 */
  top: 6%;                /* 距离视口顶部的距离为20px */
  right: 25%;              /* 距离视口右侧的距离为20% */
  background-color: #d1c8c8 !important;/* 设置按钮背景颜色为淡青色 */
  border: none;             /* 去掉按钮的边框 */
  color: black;           /* 设置按钮上的文本颜色为黑色*/
  padding: 10px;            /* 在按钮内部添加10px的填充 */
  text-align: center;       /* 使按钮上的文本居中对齐 */
  text-decoration: none;    /* 去掉按钮上的文本装饰（例如下划线） */
  display: inline-block;    /* 将按钮设置为内联块级元素，使其可以和其他元素并排显示 */
  font-size: 14px;          /* 设置按钮上的文本字体大小为14px */
  cursor: pointer;          /* 将鼠标悬停在按钮上时的光标形状设置为指针 */
  border-radius: 50%;       /* 设置按钮的边框半径为50%，使其呈圆形 */
  width: 40px;              /* 设置按钮的宽度为40px */
  height: 40px;             /* 设置按钮的高度为40px */
  line-height: 20px;        /* 设置按钮上的文本行高为20px，使其垂直居中 */

  @media (max-width: 767px) {
    display: none;          //手机端不显示按钮
  }
}




time {
  display: block;
  color: $color-subtext;
  margin: 0.5em 0 1em;
}

footer {
  margin: 2em 0;
  font-size: 0.8em;
  color: mix($color-text, white, 80%);
  padding-top: 1em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: $color-box-background;
  border-radius: $border-radius;

  p {
    margin: 0;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $color-border;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
}

a {
  transition: background 300ms;
  padding: 0 0.1em;
  text-decoration: none;
  border-bottom: 1px solid $color-border;
  color: $color-primary;
  &:hover {                   //鼠标悬停的时候链接的样式
    color: black !important;
    background: #ffebc6;
  }
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    // content: "↗";
    color: #aaaaaa;
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

*:focus {
  background: #ffe8bc;;
  color: black;
}

nav {
  margin: 1em 0 3em;
}

#notes-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "aside";

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content aside";
  }
}

#pages-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "search-side"
    "content";
    
}


.backlink-box {
  background: $color-box-background;
  padding: 1em;
  border-radius: $border-radius;
}

code {
  background: #f5f5f5;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}

// 大纲的css样式
aside {
  position: fixed; // 让目录固定在页面侧边
  top: 0;
  right: 0; // 根据需要调整位置，例如：left: 0;
  width: 250px; // 根据需要调整宽度
  padding: 1rem;
  overflow-y: auto;
  max-height: 100%;
}


#toc a {
  text-decoration: none !important;
  color: #333 !important;
}

#toc li:before {
  content: none !important;
}

cssCopy code.toc-level-h1 {
  margin-left: 0;
}

.toc-level-h2 {
  margin-left: 1em;
}

.toc-level-h3 {
  margin-left: 2em;
}

.toc-level-h4 {
  margin-left: 3em;
}

.toc-level-h5 {
  margin-left: 4em;
}

.toc-level-h6 {
  margin-left: 5em;
}

// 截断目录中溢出的文本且以省略号显示
#toc a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
//设置目录与正文的边界线
#toc {
  list-style-type: none;
  padding: 0;
  border-left: 1px solid #ccc;
  padding-left: 10px; /* 设置内边距，可以根据需要调整 */
  margin-left: 10px; /* 设置外边距，可以根据需要调整 */

  font-size: 16px; /* 根据需要调整字体大小 */
}

// 在小屏幕设备上隐藏侧边栏
@media (max-width: 767px) {
  #toc {
    display: none;
  }
}



/*----------------------home-scss-----------------------*/

// 搜索框的样式
#search-input {
  position: absolute;
  width: 48%;
  padding: 1.1%;          //搜索框内边距为宽度的 1.2%。
  border: 1px solid #ccc;
  border-radius: 50px; /* 设置圆角 */
  font-size: 16px;
  outline: none;          //鼠标点击搜索框时，不显示蓝色的外框线。
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);     //将搜索框向左上方移动，使其与页面的垂直和水平中心对齐。
  box-sizing: border-box;     // 指定元素的盒模型为 border-box，即 border 和 padding 的宽度会包含在元素的宽度内。
  max-width: 80%;
  /* 可以根据需要设置最大宽度 */

  @media (max-width: 768px) {
    width: 60%;
    padding: 2%;
  }
}

// 搜索结果容器的样式
#results-container {
  position: absolute;
  width: 60%;
  max-width: 80%;
  top: 41.2%;
  left: 26.5%;
  list-style-type: none;
  padding: 0;

  @media (max-width: 768px) {
    width: 70%;
  }
}


/* 当搜索框获得焦点时的样式 */
#search-input:focus {
  border-color: #007bff;
}

/* 搜索结果列表项样式 */
#results-container li {
  margin-bottom: 8px;
}

/* 搜索结果链接样式 */
#results-container li a {
  color: #007bff;
  text-decoration: none;
}

/* 鼠标悬停在搜索结果链接上时的样式 */
#results-container li a:hover {
  text-decoration: underline;
}



//修改home页的welcome，使之居于搜索框之上
.home-welcome {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
}


.garden-column{
  position: fixed;
  width: 50%;
  top: 70%;
  left: 30%;
}
.quick-link{
  position: fixed;
  width: 50%;
  top: 50%;
  left: 30%;
}

// 主页文件链接栏的样式
#sidebar_home {
  width: 20%;
  min-width: 200px;
  padding: 1em;
  border-right: 1px solid #ccc;
  position: fixed;
  top: 0;
  right: 1%;
  bottom: 1%;
  height: 90%;
  overflow-y: auto;
  background-color: #f0f0f0; /* 更改背景颜色以增加亮度 */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 10px; /* 设置目录栏的边框半径为10px，使其呈现更大的圆角 */
  display: none;            //一开始隐藏链接栏

}

/*----------------------end-home-scss-----------------------*/