<!DOCTYPE html>   <!--声明文档类型为 HTML5-->
<html lang="zh-CN">
  {% include head.html %}   <!--插入head.html文件-->
  <body>
    <nav>
      {% include nav.html %}  
    </nav>
    <div class="wrapper">
      <main>{{ content }}</main>                  <!--占位符，后续如果有文件以它布局，则嵌入到其中-->
      <footer>{% include footer.html %}</footer>
    </div>

    {% include link-previews.html wrapperQuerySelector="content" %}
    {% include mermaid_converter.html %}  <!--将```mermaid转为<div>形式的html-->


  </body>
</html>



 