---
layout: default
---




<article>
  <!-- 显示文章的标题和最后修改时间  -->
  <div> 
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
      Last updated on {{ page.last_modified_at | date: "%B %-d, %Y" }}
      {% endif %}
    </time>
  </div>

  <div id="notes-entry-container">
    <content>
      {{ content }}
    </content>

    <!-- 加入大纲 -->
    <aside>
      <ul id="toc"></ul>
    </aside>   
  </div>
<!-- 加入文件链接 -->
<nav id="sidebar">
  相关笔记链接
  {% assign current_path = page.path | split: '/' %}
  {% assign parent_folder = current_path[-2] %}       <!--获取使用改模板文件的上一级路径-->
  
  {% assign sorted_notes = site.notes | sort_natural: 'title' %} <!-- 对文件名进行自然排序 -->
  
  <ul id="directory">
    <!-- 将文件名与父文件夹名称相同的文件放在第一个位置 -->
    {% for note in sorted_notes %}
      {% assign note_path = note.path | split: '/' %}
      {% if note_path[-2] == parent_folder and note_path[-1] != current_path[-1] and note.title == parent_folder %}
        <li>
          <a href="{{ note.url | relative_url }}">{{ note.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% for note in sorted_notes %}
      {% assign note_path = note.path | split: '/' %}
      {% if note_path[-2] == parent_folder and note_path[-1] != current_path[-1] and note.title != parent_folder %}
          <li>
            <a href="{{ note.url | relative_url }}">{{ note.title }}</a>
          </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

<!-- 添加按钮   -->
<button id="toggle-sidebar-button" class="toggle-sidebar-button">🙈</button>

<!-- 原本的页面侧边栏，显示该笔记与其他笔记的链接情况 -->
    <!-- <side style="font-size: 0.9em">
      <h3 style="margin-bottom: 1em">Notes mentioning this note</h3>
      {% if page.backlinks.size > 0 %}
      <div style="display: grid; grid-gap: 1em; grid-template-columns: repeat(1fr);">
      {% for backlink in page.backlinks %}
        <div class="backlink-box">
        <a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a><br>
        <div style="font-size: 0.9em">{{ backlink.excerpt | strip_html | truncatewords: 20 }}</div>
        </div>
      {% endfor %}
      </div>
      {% else %}

      <div style="font-size: 0.9em">
        <p>
          There are no notes linking to this note.
        </p>
      </div>
      {% endif %}
    </side> -->


  </div>
</article>

<hr>

<!-- 显示图谱代码，会与mermaid冲突，笔记仓库不需要 -->
<!-- <p>Here are all the notes in this garden, along with their links, visualized as a graph.</p>
{% include notes_graph.html %} -->

<!-- 引用大纲的js文件 -->
<script src="{{ '/assets/js/toc.js' | relative_url }}"></script>

<!-- 引入文件的js文件 -->
<script src="{{ '/assets/js/files.js' | relative_url }}"></script>

